nav {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
}

nav button {
  font-family: "Darumadrop One", sans-serif;
  padding: 0 1em;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: #ffcc00;
  cursor: pointer;
  transition: background-color 0.2s;
}

nav button:hover {
  background-color: #ffdd33;
}