footer {
  height: 5vh;
  width: 100%;
  margin: var(--size-small) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info {
  font-family: var(--font-section);
  color: var(--first-color);
  padding: 0 var(--size-large);
  font-size: 1.3rem;
  text-align: center;
}

footer a {
  color: var(--first-color);
  position: relative;
  font-weight: bold;
}

footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  transition: width 0.3s ease;
}

footer a:hover::after {
  width: 100%;
}

@media (max-width: 775px) {

  .footer-info {
    font-size: 1.1rem;
  }
}

@media (max-width: 668px) {

  .footer-info {
    font-size: var(--size-small);
    padding: 0 var(--size-small);
  }
}

@media (max-width: 615px) {

  footer {
    height: 7vh;
  }
}

@media (max-width: 410px) {

  footer {
    height: 9vh;
  }
}