h1 {
  text-align: center;
  font-family: "Darumadrop One", sans-serif;
  font-size: 3rem;
  color: whitesmoke;
  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.event-title span {
  display: block;
}