h1 {
  text-align: center;
  font-family: "Darumadrop One", sans-serif;
  font-size: 3rem;
  color: var(--first-color);
  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.event-title span {
  display: block;
}

@media (max-width: 1210px) {

  h1 {
font-size: 2.5rem;
}
}

@media (max-width: 840px) {

  h1 {
font-size: var(--size-large);
}
}

@media (max-width: 715px) {

  h1 {
  margin: 0 var(--size-small);
}

  h1 span:first-child {
 display: none;
}
}

@media (max-width: 552px) {

  h1 {
    margin-top: var(--size-small);
    font-size: 1.8rem;
  }
}

@media (max-width: 528px) {

  h1 span:nth-child(2) {
 display: none;
}

  h1 span:first-child {
    display: flex;
  }
}

@media (max-width: 428px) {

  h1 span:first-child {
    display: none;
  }
}

@media (max-width: 932px) and (max-height: 430px) {

h1 {
  font-size: var(--size-large);
}
}

@media (max-width: 915px) and (max-height: 412px) {

h1 {
  font-size: var(--size-medium);
}
}

@media (max-width: 1280px) and (max-height: 853px) {

h1 {
  font-size: var(--size-large);
}
}

@media (max-width: 882px) and (max-height: 360px) {

h1 {
  font-size: var(--size-medium);
}
}