@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient( to bottom,
    #90e0ef 0%,
    #caf0f8 20%,
    #ffe066 40%,
    #ffd60a 78%,
    white 81%,
    #0096c7 85%,
    #023e8a 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}